<div style="text-align: center">
    <h2>About the Gym and Training</h2>
</div>
<div>
    <p> We have all kinds of equipment here, maybe even more than super gyms. We have the best group of trainers with very high
        skills and experience. They will help you o reach your goals. You will see the result every month by being measured
        and compared to previous months.</p>
</div>

<div style="text-align: center">
    <h2> About Our Facility</h2>
</div>
<div>
    <p> We have all kinds of cardio machines. A weight lifting floor, and resistance machines for all body part. We even have
        a towel service. Plus Men's and Women's locker rooms with showers. You can also grab a sack if you hungry located
        near the lobby near the front desk. We have protein shakes, protein bars, water, etc</p>
</div>