<br>
<div class="container">
  <div class="row">
    <div class="col-xs col-md-6">
      <div style="text-align: center">
        <h2>Personal Training</h2>
        <i class="fas fa-dumbbell fa-10x"></i>
        <hr>
        <div>
          <h3>30 minutes</h3>
          <br> 10 Sessions
          <br>
          <b>$400</b>
          <br>
          <button type="button" class="btn btn-primary">Learn more</button>
          <hr> 
          <h3>60 minutes</h3>
          <br> 10 Sessions
          <br>
          <b>$700</b>
          <br>
          <button type="button" class="btn btn-primary">Learn more</button>
        </div>
      </div>
    </div>
    <div class="col-xs col-md-6">
      <div style="text-align: center">
        <h2>Memberships</h2>
        <i class="fas fa-id-card fa-10x"></i>
        <hr>

        <h3>$30/Month</h3>
        <br> Enrollment $60
        <br> $10 Card access
        <br>
        <button type="button" class="btn btn-primary">Learn more</button>
      </div>
    </div>
  </div>
</div>